body {
  margin: 0 0 0 0;
  padding: 4px 5vw 4px 5vw;
  /*width: 1024px;
  height: 720px;*/
  text-size-adjust: none;
  background-color: snow;
  text-rendering: optimizeLegibility;
}

#center {
  /*width: 1024px;*/
  text-align: center;
  border-bottom: solid 1px #000;
}

myViews a {
  display: inline-block;
  text-decoration: none;
  color: #422;
}

myViews a:hover {
  color: orangeRed;
}

myViews a:visited {
  color: #644;
}

myViews a:active {
  color: #fff;
}

custom-tag1 {
  color: red;
}

history-logs {
  margin-top: 3%;
  font-size: 20px;
  font-size: 2.6vw;
}

.ncIndicator {
  font-size: 40px;
  font-size: 3.4vw
}

#mainMenu {
  font-size: 30px;
  font-size: 3.5vw;
}

#mainMenu a {
  margin: 0 2.5vw 0 2.5vw;
}

myViews {
  /*width: 1024px;
  height: 720px;*/
  font-size: 25px;
  font-size: 2.7vw;
}

.xss, .csrf {
  font-size: 2em;
  font-size: 4.5vw;
  text-align: left;
  width: 100%;
  padding: 2% 0 2% 1%;
  color: #443;
  background-color: #fff;
  font-family: "Constantia", "Times New Roman", "Georgia", "Palatino", serif;
}

.xss p, .csrf p, .halfCentered {
  color: #555;
  font-style: verdana, georgia, serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .05em;
  line-height: 1.5em;
  font-size: 0.8em;
  font-size: 2.9vw;
}

.xssReport, .csrfReport {
  background-color: #eee;
  word-wrap: break-word;
  padding: 1% 1% 1% 1%;
  margin: 4% 3% 5% 4%;
  height: auto;
  overflow-y: scroll;
  border: solid 3px #000;
}

#writeupsContainer a {
  text-decoration: underline;
}

#nonCenter {
  font-size: 2em;
  font-size: 4.5vw;
}

#nonCenter a {
  display: inline-block;
  margin: 0 0 1% 0;
  text-decoration: none;
  border-bottom: dotted 1px blue;
}

#nonCenter > h2 {
  padding: 1% 0 0 0;
  margin: 1% 0 0 0;
  color: #777;
}

#nonCenter > a {
  font-size: 1.2em;
  font-size: 3vw;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.center {
  text-align: center;
}

.halfCenter {
  margin: 0 3% 0 5%;
}

#aboutPhoto {
  border-radius: 1% 1% 1% 1%;
  background-image: url("./resources/network.jpg");
  object-fit: fill;
  background-position: center;
}

#aboutPhoto > h6 {
  margin: 2%;
  padding: 0;
  padding-top: 10px; 
}

#aboutPhoto > h4 {
  padding-bottom: 12px;
}

#aboutPhoto > img {
  margin-bottom: 1%;
  height: auto;
  width: 50%;
}

#xss a, #csrf a, .xss a, .csrf a {
  text-decoration: underline;
}

.fastframeworkCode {
 color: green;
 font-family: 'Monaco', monospace;
 white-space: pre-wrap;
}

#jexIframe {
  height: 50vw;
  width: 98%;
  border: none;
  overflow: hidden;
}

.aToBlock {
  display: block;
  font-size: 2.9vw;
  margin: 2% 2% 0 0;
}

.images {
  display: inline-block;
  height: auto;
  width: 40%;
}

.imagesParent {
  text-align: center;
}

#w3schoolsImageLandscape {
  display: none;
  width: 80%;
}

#w3schoolsImagePortrait {
  display: inline-block;
}

#w3schoolsPayload {
  width: 80%;
}

history-logs {
  font-size: 0.7em;
  font-size: 1.8vw;
}

.donotshow {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

@media (min-width: 0px) and (orientation:landscape) {

  #w3schoolsImagePortrait {
    display: none;
  }

  #w3schoolsImageLandscape {
    display: inline-block;
    width: 55%;
  }

  #w3schoolsPayload {
    width: 35%;
  }

  .xss, .csrf {
    font-size: 0.9em;
    font-size: 2.2vw;
  }

  .xss h1, .csrf h1 {
    font-size: 1.5em;
    font-size: 3vw;
    font-family: arial;
  }

  .xss h4, .csrf h4 {
    font-size: 1.3em;
    font-size: 2.7vw;
  }

  #aboutPhoto > img {
    height: auto;
    width: 30%;
  }
  #aboutPhoto > h6 {
    margin: 2%;
    padding: 2%;

  }

  #aboutPhoto > h4 {
    margin: 1%;
  }

  .halfCentered {
    margin-top: 4%;
    font-size: 0.8em;
    font-size: 2.1vw;
    color: #555;
  }

}

