body {
  margin: 0 0 0 0;
  padding: 4px 40px 4px 40px;
  /*width: 1024px;
  height: 720px;*/
  text-size-adjust: none;
  background-color: snow;
  text-rendering: optimizeLegibility;
}

#center {
  /*width: 1024px;*/
  text-align: center;
  border-bottom: solid 1px #000;
}

myViews a {
  display: inline-block;
  text-decoration: none;
  color: #422;
}

myViews a:hover {
  color: orangeRed;
}

myViews a:visited {
  color: #644;
}

myViews a:active {
  color: #fff;
}

custom-tag1 {
  color: red;
}

#mainMenu {
  font-size: 30px;
}

#mainMenu a {
  margin: 0 20px 0 20px;
  font-size: 1.1em;
}

myViews {
  /*width: 1024px;
  height: 720px;*/
  font-size: 25px;
}

.xss, .csrf {
  font-size: 2em;
  text-align: left;
  width: 100%;
  padding: 2% 0 2% 1%;
  color: #443;
  background-color: #fff;
  font-family: "Constantia", "Times New Roman", "Georgia", "Palatino", serif;
}

.xss p, .csrf p {
  color: #555;
  font-style: verdana, georgia, serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .05em;
  line-height: 1.5em;
  font-size: 0.8em; 
}

.xssReport, .csrfReport {
  background-color: #eee;
  word-wrap: break-word;
  padding: 1% 1% 1% 1%;
  margin: 4% 3% 5% 4%;
  height: 600px;
  overflow-y: scroll;
  border: solid 3px #000;
}

#writeupsContainer a {
  text-decoration: underline;
}

#nonCenter {
  font-size: 2em;
}

#nonCenter a {
  display: inline-block;
  margin: 0 0 1% 0;
  text-decoration: none;
  border-bottom: dotted 1px blue;
}

#nonCenter > h2 {
  padding: 1% 0 0 0;
  margin: 1% 0 0 0;
  color: #777;
}

#nonCenter > a {
  font-size: 0.75em;
}

#xss a, #csrf a, .xss a, .csrf a {
  text-decoration: underline;
}

.fastframeworkCode {
 color: green;
 font-family: 'Monaco', monospace;
 white-space: pre-wrap;
}

#jexIframe {
  width: 100%;
  height: 550px;
  overflow: hidden;
  border: none;
}

.aToBlock {
  display: block;
}

.images {
  display: inline-block;
}

.imagesParent {
  text-align: center;
}

#w3schoolsImageLandscape {
  display: none;
  width: 80%;
}

#w3schoolsImagePortrait {
  display: inline-block;
}

#w3schoolsPayload {
  width: 80%;
}

history-logs {
  font-size: 0.7em;
}

.donotshow {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

@media (min-width: 0px) and (orientation:landscape) {

  #w3schoolsImagePortrait {
    display: none;
  }

  #w3schoolsImageLandscape {
    display: inline-block;
    width: 55%;
  }

  #w3schoolsPayload {
    width: 35%;
  }

  .xss, .csrf {
    font-size: 0.9em;
  }

  .xss h1, .csrf h1 {
    font-size: 1.5em;
    font-family: arial;
  }

  .xss h4, .csrf h4 {
    font-size: 1.3em;
  }

}

