body {
  margin: 0 0 0 0;
  padding: 1%;
  background-color: #000;
  color: #eee;
  text-size-adjust: none;
  font-size: 1.8em;
  word-break: break-word;
}

header {
  border-bottom: 1px solid red;
}

nav {
  font-size: 2em;
  margin: 5% 0 2% 0;
}

nav > a {
  
}

a {
  
}

#aHeader {
  position: fixed;
  font-size: 2em;
  right: 3px;
  bottom: 3px;
}

#xss, #csrf { 
  padding: 2% 2% 2% 2%;
  border-radius: 1%;
  font-size: 1.8em;
}

#xss > p, #csrf > p {
  margin: 0 2% 5% 4%;
}

code[lang='html'] {
  display: block;
  background-color: #111;
  color: #7D26CD;
}

#filter, #bSolution {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 850px;
  height: 150px;
  font-size: 2em;
}

#afterClick {
  padding: 2% 2% 2% 2%;
  margin: 0 2% 5% 4%;
}

.inlineHTML {
  color: #ff0;
}
